.container {
  padding-left:  6%;
  padding-right: 6%;
}

// Equal height images in 2 column flex grid
.img-container {
  @media (min-width: pixel-to-em(800px)) {
    height: 250px;
  }
  @media (min-width: pixel-to-em(1060px)) {
    height: 280px;
  }
}

// Keep headline image height from expanding to large
.headline-container {
  max-height: 580px;
  overflow: hidden;
} 