// ===============================
// Default Styles
// ===============================

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $fs-primary;
  font-size: 16px;
  line-height: 1.5;
}

h4 {
  font-family: $fs-accent;
}

p {color: #191919;}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

form {
  max-width: 500px;
  margin: auto;
  padding-left: 30px;
}

ion-icon {font-size: 22px;} /* Form submit btn */