.cta {
  width: 85%;
  padding: 6px 0;
  font-size: pixel-to-em(14px);
  border-radius: 0;
  border-width: 0 0 1px 0;
  border-style: none none solid none;
  border-color: #000;
  background: #f3f3f3;
  box-shadow: none;

  &:focus {
    outline: none;
    box-shadow: none;
    border-width: 0 0 2px 0; /* TEMPORARY*/
  }
}

.cta-title {
  @media (min-width: pixel-to-em(1140px)) {
    font-size: 1.8em;
    margin-bottom: 60px;
  }
}


.cta-btn {
  position: relative;
  right: 25px;
  bottom: -6px;
}