// Off-Canvas Navigation Layout
.nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 0; // Will expand 250px
  height: 100%;
  transition: 0.5s;
  
  // Navigation container
  &__links {
    padding-top: 10px;
    height: 100%;
    background: #111;
    overflow-x: hidden;
    
    // Individual Nav links 
    &-link {
      padding: 8px 8px 8px 32px;
      font-size: pixel-to-em(25px);
      color: #a1a1a1;
      display: block;
      transition: 0.3s;
      
      &:hover {
        color: #818181;
      }
    } //.nav-link 
  } // .nav__links
  
  // Nav open button
  &__open {
    margin-top: 22px;
    font-size: pixel-to-em(24px);
  }

  // Nav close button
  &__close {
    position: relative;
    left: 170px;
    font-size: pixel-to-em(28px);
  }
}
